<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/navbar.css" type="text/css">
</head>
<body>
<nav>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/news">News</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/account/create-account">Create account</a>
    </div>
</nav>

<div id="newPost">
    <h6>New post</h6>
    <form action="#" th:action="@{/post/create-new-post}" th:object="${textPost}" method="post">
        <textarea  rows = "20" cols = "80" th:field = "*{postText}" > </textarea>
        <p><input type="submit" value="Post" /> <input type="reset" value="Reset" /></p>

    </form>

</div>


</body>
</html>