<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/css/navbar.css}" rel="stylesheet" />
</head>

<body>

<nav>
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/news"><strong>News</strong></a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/account/create-account">Create account</a>
        <a href="/account/login">Log in</a>
    </div>
</nav>

<section>


</section>
</body>
</html>