<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/navbar.css" type="text/css" onload="this.media='all'">

</head>

<body>

<nav>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/news">News</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/account/create-account">Create account</a>
        <a href="/account/login">Log in</a>
    </div>
</nav>

<section>


</section>
</body>
</html>